/* กำหนดภาพพื้นหลัง และ font ของเว็บ */
body {
	max-width: 100%;
	border: 0;
	background-image: url("../พระราชกรณีกิจด้านการศึกษา/จอคอม/ก่อนหน้าหลักเเละเข้าสู่หน้าหลัก/พื้นหลังกฮ.png"), url("../พระราชกรณีกิจด้านการศึกษา/จอคอม/ก่อนหน้าหลักเเละเข้าสู่หน้าหลัก/พื้นหลัง.png");
	background-size: cover;
	font-family: 'Taviraj', serif;
	font-size: 10pt;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 3s;
	opacity: 100%;
}

/*--------------------------------------------------------*/
/* การแก้ไขของส่วน Header */
/* กำหนดความกว้าง และความสูงของ header */
header {
	width: 100%;
	height: 10%;
}

/* ซ่อนเอาไว้ เพราะใน Desktop ไม่ได้ใช้ */
.box_img1 {
	position: absolute;
	width: 45%;
	margin-left: 12%;
	/*margin-top: 1%;*/
}

/* ปรับขนาดของรูปภาพตามสัดส่วนของ header */
.book_size {
	position: absolute;
	width: 4%;
	/*height: 20%;*/
	margin-left: 15%;
	margin-top: 42%;
	z-index: 4;
}

/* ปรับขนาดของรูปภาพตามสัดส่วนของ header */
.visual_img {
	position: absolute;
	width: 8%;
	/*height: 15%;*/
	margin-left: 85%;
	margin-top: -1%;
	z-index: 3;
}

/* ซ่อนภาพไว้จากการไม่ได้ใช้ */
.box_img2 {
	position: absolute;
	width: 2.25%;
	margin-left: 11.85%;
	margin-top: 3%;
}

.black_box {
	position: absolute;
	background-color: black;
	width: 1.25%;
	height: 5%;
	margin-left: 12%;
	margin-top: 3.1%;
}

/* --------------------- เนื้อหาชุดแรก --------------------- */
.image1 {
	display: block;
	position: absolute;
	width: 70%;
	margin-left: 12%;
	margin-top: -7%;
}

.image2 {
	display: none;
	position: absolute;
	width: 14.5%;
	margin-left: 65%;
	margin-top: 6.5%;
}

.image3 {
	display: none;
	position: absolute;
	width: 45%;
	margin-left: 16%;
	margin-top: 6.5%;
}

.image4 {
	display: none;
	position: absolute;
	width: 70%;
	margin-left: 12%;
	margin-top: -7%;
}

.image5 {
	display: none;
	position: absolute;
	width: 20%;
	margin-left: 63%;
	margin-top: 18%;
}

.image6 {
	display: none;
	position: absolute;
	width: 45%;
	margin-left: 15%;
	margin-top: 7%;
}

.image7 {
	display: none;
	position: absolute;
	width: 20%;
	margin-left: 63%;
	margin-top: 18%;
}

.alpha1 {
	display: block;
	position: absolute;
	width: 10%;
	margin-left: 64%;
	margin-top: 44.5%;
}

.alpha2 {
	display: none;
	position: absolute;
	width: 10%;
	margin-left: 64%;
	margin-top: 44.5%;
}

/* --------------------- เนื้อหาชุดสอง --------------------- */

.image8 {
	display: none;
	position: absolute;
	width: 53%;
	margin-left: 15%;
	margin-top: 3%;
}

.image9 {
	display: none;
	position: absolute;
	width: 53%;
	margin-left: 15%;
	margin-top: 10%;
}

.image10 {
	display: none;
	position: absolute;
	width: 53%;
	margin-left: 15%;
	margin-top: 3%;
}

.alpha3 {
	display: none;
	position: absolute;
	width: 10%;
	margin-left: -1%;
	margin-top: -1%;
}

/* --------------------- เนื้อหาชุดสาม --------------------- */

.image11 {
	display: none;
	position: absolute;
	width: 20%;
	margin-left: 15%;
	margin-top: 3%;
}

.image12 {
	display: none;
	position: absolute;
	width: 35%;
	margin-left: 40%;
	margin-top: 26%;
}

.image13 {
	display: none;
	position: absolute;
	width: 30%;
	margin-left: 40%;
	margin-top: 7%
}

.image14 {
	display: none;
	position: absolute;
	width: 23%;
	margin-left: 15%;
	margin-top: 5%
}

.image15 {
	display: none;
	position: absolute;
	width: 38%;
	margin-left: 40%;
	margin-top: 26%
}

.image16 {
	display: none;
	position: absolute;
	width: 30%;
	margin-left: 40%;
	margin-top: 7%
}

.image17 {
	display: none;
	position: absolute;
	width: 20%;
	margin-left: 15%;
	margin-top: 3%;
}

.image18 {
	display: none;
	position: absolute;
	width: 35%;
	margin-left: 40%;
	margin-top: 26%;
}

.image19 {
	display: none;
	position: absolute;
	width: 30%;
	margin-left: 40%;
	margin-top: 7%
}

.alpha4 {
	display: none;
	position: absolute;
	width: 6%;
	margin-left: 10%;
	margin-top: 20%;
}

.alpha5 {
	display: none;
	position: absolute;
	width: 6%;
	margin-left: 78%;
	margin-top: 40%;
}

/* --------------------- เนื้อหาชุดสี่ --------------------- */

.image20 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 20%;
	margin-top: 2.5%
}

.image21 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 20%;
	margin-top: 2.5%;
	z-index: 10;
}

.image22 {
	display: none;
	position: absolute;
	width: 50%;
	margin-left: 20%;
	margin-top: 24%;
}

.image23 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 20%;
	margin-top: 2.5%
}

.image24 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 20%;
	margin-top: 2.5%
}

.alpha6 {
	display: none;
	position: absolute;
	width: 25%;
	margin-left: 75%;
	margin-top: 20%;
}

.alpha7 {
	display: none;
	position: absolute;
	width: 10%;
	margin-left: 17%;
	margin-top: 47%;
}

/* --------------------- เนื้อหาชุดห้า --------------------- */

.image25 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 14%;
	margin-top: 4%
}

.image26 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 15%;
	margin-top: 5%
}

.image27 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 16%;
	margin-top: 6%
}

.image28 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 14%;
	margin-top: 4%
}

.image29 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 15%;
	margin-top: 5%
}

.image30 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 16%;
	margin-top: 6%
}

.image31 {
	display: none;
	position: absolute;
	width: 5%;
	margin-left: 55%;
	margin-top: 4%
}

.image32 {
	display: none;
	position: absolute;
	width: 51%;
	margin-left: 16%;
	margin-top: 31.5%
}

.image33 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 14%;
	margin-top: 4%
}

.image34 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 15%;
	margin-top: 5%
}

.image35 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 16%;
	margin-top: 6%
}

/* --------------------- เนื้อหาชุดหก --------------------- */
.image36 {
	display: none;
	position: absolute;
	width: 20%;
	margin-left: 71%;
	margin-top: 8%
}

.image37 {
	display: none;
	position: absolute;
	width: 30%;
	margin-left: 50%;
	margin-top: 4%
}

.image38 {
	display: none;
	position: absolute;
	width: 50%;
	margin-left: 19%;
	margin-top: 20%
}

.image39 {
	display: none;
	position: absolute;
	width: 20%;
	margin-left: 71%;
	margin-top: 8%
}

.image40 {
	display: none;
	position: absolute;
	width: 20%;
	margin-left: 71%;
	margin-top: 8%
}

.image41 {
	display: none;
	position: absolute;
	width: 30%;
	margin-left: 50%;
	margin-top: 4%
}

/* --------------------- เนื้อหาชุดเจ็ด --------------------- */
.image42 {
	display: none;
	position: absolute;
	width: 21%;
	margin-left: 59%;
	margin-top: -1%
}

.image43 {
	display: none;
	position: absolute;
	width: 35%;
	margin-left: 27%;
	margin-top: 3%
}

.image44 {
	display: none;
	position: absolute;
	width: 30%;
	margin-left: 14%;
	margin-top: 10%
}

.image45 {
	display: none;
	position: absolute;
	width: 30%;
	margin-left: 31%;
	margin-top: 10%
}

.image46 {
	display: none;
	position: absolute;
	width: 30%;
	margin-left: 14%;
	margin-top: 10%
}

.image47 {
	display: none;
	position: absolute;
	width: 30%;
	margin-left: 31%;
	margin-top: 10%
}

.image48 {
	display: none;
	position: absolute;
	width: 35%;
	margin-left: 27%;
	margin-top: 3%
}

.image49 {
	display: none;
	position: absolute;
	width: 35%;
	margin-left: 27%;
	margin-top: 3%
}

.alpha8 {
	display: block;
	position: absolute;
	width: 9%;
	margin-left: 13%;
	margin-top: 38%;
}

.alpha9 {
	display: block;
	position: absolute;
	width: 6%;
	margin-left: 57.5%;
	margin-top: 46%;
}

.alpha10 {
	display: block;
	position: absolute;
	width: 30%;
	margin-left: 70%;
	margin-top: 24%;
}


/* --------------------- เนื้อหาชุดแปด --------------------- */
.image50 {
	display: none;
	position: absolute;
	width: 25%;
	margin-left: 15%;
	margin-top: 10%
}

.image51 {
	display: none;
	position: absolute;
	width: 35%;
	margin-left: 38%;
	margin-top: 4%
}

.image52 {
	display: none;
	position: absolute;
	width: 50%;
	margin-left: 20%;
	margin-top: 4%
}

/* --------------------- เนื้อหาชุดแปด --------------------- */

.image53 {
	display: none;
	position: absolute;
	width: 25%;
	margin-left: 14%;
	margin-top: 22%
}

.image54 {
	display: none;
	position: absolute;
	width: 25%;
	margin-left: 30%;
	margin-top: 22%
}

.image55 {
	display: none;
	position: absolute;
	width: 50%;
	margin-left: 14%;
	margin-top: 17%
}

.image56 {
	display: none;
	position: absolute;
	width: 25%;
	margin-left: 46%;
	margin-top: 22%
}

/* --------------------- เนื้อหาชุดสิบ --------------------- */

.image57 {
	display: none;
	position: absolute;
	width: 60%;
	margin-left: 15%;
	margin-top: 4%
}

.image58 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 55%;
	margin-top: 32%
}

.image59 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 59%;
	margin-top: 26%
}

.image60 {
	display: none;
	position: absolute;
	width: 40%;
	margin-left: 59%;
	margin-top: 21%
}

.alpha11 {
	display: none;
	position: absolute;
	width: 7%;
	margin-left: 59%;
	margin-top: 19%
}

.alpha12 {
	display: none;
	position: absolute;
	width: 7%;
	margin-left: 67%;
	margin-top: 13%
}


.image61 {
	display: none;
	position: absolute;
	width: 100%;
	margin-top: -1.5%
	margin-left: 0%;
}

.image62 {
	display: none;
	position: absolute;
	width: 110%;
	margin-top: -11.25%;
	margin-left: -5%;
}


/* ------------------------------------ */ 
/* ทำ Responsive ให้โทรศัพท์ที่ความกว้างต่ำกว่า 600 */
@media only screen and (max-width: 600px) {
	body {
		background-size: cover;
		background-repeat: repeat;
		background-attachment: fixed;
	}
	/* ซ่อนเอาไว้ เพราะใน Desktop ไม่ได้ใช้ */
	.box_img1 {
		position: absolute;
		width: 90%;
		margin-left: 3.5%;
		margin-top: -1%;
	}

	.box_img2 {
		width: 4.5%;
		margin-left: -1%;
		margin-top: 22%;
	}

	.black_box {
		width: 4%;
		height: 5%;
		margin-left: -0.75%;
		margin-top: 22.1%;
	}

	/* ปรับขนาดของรูปภาพตามสัดส่วนของ header */
	.book_size {
		width: 7%;
		/*height: 20%;*/
		margin-left: 4%;
		margin-top: 87%;
	}

	/* ปรับขนาดของรูปภาพตามสัดส่วนของ header */
	.visual_img {
		width: 15%;
		margin-left: 82%;
		margin-top: 3%;
	}

/* --------------------- เนื้อหาชุดแรก --------------------- */
	.image1 {
		width: 95%;
		margin-left: 3%;
		margin-top: 4%;
	}

	.image2 {
		width: 19.5%;
		margin-left: 75%;
		margin-top: 22.5%;
	}

	.image3 {
		width: 68%;
		margin-left: 6%;
		margin-top: 21.5%;
	}

	.image4 {
		width: 95%;
		margin-left: 3%;
		margin-top: 4%;
	}

	.image5 {
		width: 30%;
		margin-top: 54%;
	}

	.image6 {
		width: 75%;
		margin-left: 5%;
		margin-top: 13%;
		z-index: 2;
	}

	.image7 {
		width: 30%;
		margin-top: 54%;
	}

	.alpha1 {
		visibility: hidden;
	}

	.alpha2 {
		visibility: hidden;
	}
}